@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

html, body, div#root {
  width: 100%;
  height: 100%;
}

body { background: linear-gradient(to right top, #1d1e22, #21232b, #252834, #282e3d, #2c3346); }